*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100%;
    width: 30%;
    background-color: red;
    position: fixed;
    color: white;
}

.IzbornikStavka{
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-top: 10px;
    padding-left: 25px;
}

.IzbornikStavka:hover{
    background-color: rgba(128, 128, 128, 0.466);

}

#wrapper{
    margin-left: 31%;
}

h1{
    font-size: 65px;
}

h2{
    font-size: 45px;
}

hr{
    width: 20%;
    border: 5px solid red;
    border-radius: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.SlikaKolona{
    width: calc(100%/2);
    float: left;
}

img{
    width: 100%;
    padding: 10px;
}

img:hover{
    opacity: 0.5;
}

.TeamKolona{
    width: calc(100%/4);
    float: left;
    text-align: center;
}

.PaketKolona{
    width: 50%;
    background-color: rgba(128, 128, 128, 0.329);
    float: left;
    text-align: center;
    font-size: 25px;
    padding-right: 10px;
}


.first{
    font-size: 30px;
    color: white;
    background-color: gray;
}


li{
    border-bottom: 1px solid gray;
    list-style-type: none;
    padding: 5px;
}

.BtnSignUp{
    width: 30%;
    color: white;
    background-color: red;
    padding: 8px;
    font-size: 17px;
}

input{
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
    font-size: 20px;
}

.BtnSend{
    width: 100%;
    font-size: 25px;
    color: white;
    background-color: red;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 5px;
}

@media only screen and (max-width:600px)
{
    nav{
        position: static;
        width: 100%;
        height: 50%;
    }
    #IzbornikDugme{
        display: inline;
        padding-left: 90px;
    }

    .IzbornikStavka{
        font-size: 25px;
        padding-left: 150px;
        border-bottom: 1px solid white;
    }

    #wrapper{
        margin: 5px;
    }

    h1{
        font-size: 40px;
        text-align: center;
    }

    h2{
        font-size: 30px;
    }

    .SlikaKolona{
        width:100%;
    }
    
    img{
        width: 100%;
        padding: 6px;
    }

    img:hover{
        width: 100%;
        padding: 6px;
    }

    .TeamKolona{
        width: calc(100%/2);
    }

    .PaketKolona{
        width: 100%;
        padding: 0;
    }
    
    #Izbornik{
        overflow: hidden;
        transition: 1s;
    }
    
}
